.dark-theme{
	background-color: #202124 !important;
}
/* https://www.thegioididong.com/dtdd */
.container-productbox .listproduct{
	border-left: 0;
}
.container-productbox .listproduct{
	border: 1px solid #f1f1f1 !important;

}
.box-quicklink__item{
	background-color: #fff;
}
/* https://www.thegioididong.com/may-doi-tra/dien-thoai */
#lstModel{
	border-left: 0;
	padding-top: 15px;
}
ul#lstModel > li{
	background-color: transparent !important;
	width:  calc(19.917% - 11px);
}
ul#lstModel > li > a{
	background-color: transparent !important;
}
h3,
ul > li > a strong,
ul > li > a span{
	color: #fff !important;
	display: inline-block;
}
ul#lstModel > li > a::before {
	content: "";
    height: 185px;
    width: 100%;
    display: block;
    position: absolute;
    background: #fff;
    z-index: -1;
}
.div-extend .quantity{
	color: #d0021b!important;
    border: 1px solid #d0021b;
    background: transparent;
}